* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0ex;
    font-weight: bold;
}

.headSection {
    /* background-image: linear-gradient(to right, #b1aaf0, #302b63, #6a6a7a); */

    background: url("../images/back.avif");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;

    width: auto;
    height: auto;
    padding: 5% 6%;
}

.div1 {
    
    background: linear-gradient(67.6deg, rgb(225, 242, 254) -2.8%, rgb(193, 224, 250) 44.6%, rgb(19, 116, 197) 102.4%);
    /* background-image: linear-gradient(#Ead6ee, #a0f1ea, #Ead6ee); */
    /* z-index: 2; */
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
    height: auto;
    padding-bottom: 2%;
}
.verlicalLine{
    border-left: 8px solid black;
    height: 50px;
}
.div2 {
    /* z-index: 2; */
    /* background: linear-gradient(68.8deg, rgba(0, 0, 0, 0.95) 1.8%, rgb(0, 55, 79) 31.8%, rgb(9, 93, 134) 56.2%, rgb(15, 155, 217) 89%); */
    /* background-image: linear-gradient(#D8B5FF, #1EAE98); */
    background-color: gainsboro;
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 10px; */

}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background: url(../images/weather-background-with-clouds_23-2150374545.avif);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.formData {
    padding: 9% 14%;
    text-align: center;
}

.cityVal {
    font-family: 'Ubuntu', sans-serif;
    /* font-weight:900; */
    font-weight: bold;
}

.feelsLike {
    font-family: 'Castoro Titling', cursive;
}

#cityName {
    border: none;
    border-bottom: 2px solid rgb(209, 212, 220);
    outline: none;
    background-color: transparent;
    width: 50%;
    margin: 15% 0 0 0;
}

#cityName::placeholder {
    color: #191919;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-weight: 400;
    font-size: 1.2rem; */
}

input[type='text'] {
    font-size: 28px;
}

#cityNameNxtP {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
    width: 80%;
}

.searchBtn {
    border: none;
    background-color: transparent;
}

hr {
    height: 2px;
    color: wheat;
}

.footer {
    text-align: center;
    margin-top: 12%;
}

.footer h6 {
    font-size: 20px;
}

#basic {
    background-color: white;
    /* background-color: rgb(241, 232, 232); */
    border-radius: 10px;
    margin: 3% 1.5% 1.5% 5%;
    height: 200px;
    padding: 3%;
}

.content {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 2rem;
    font-weight: 400;
}

.contImg {
    display: flex;
    justify-content: space-around;
}

.someIcons {
    width: 100px;
    height: 90px;
}

.MaxTemp {
    width: 80px;
    height: 100px;
}

.windIcon {
    width: 160px;
    height: 150px;
}

.temp {
    display: flex;
    flex-direction: column;
}

.tempVal {
    font-size: 1.5rem;
}

.Val {
    line-height: 4.5rem;
    font-size: 2.5rem;
}

#initialMain {
    width: 50%;
    margin: 5% 0 0 20%;
}
#beforeBasic .heading{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    top: 17px;
}

#fourCont{
    /* background-color: honeydew; */
    /* background-color: rgb(241, 232, 232); */
    border-radius: 10px;
    margin: 3% 1.5% 1.5% 5%;
    height: 270px;
    padding: 3%;
}



#fourDaySection{
    background-color: honeydew;
}
#for2,#for3,#for4{
    padding: 2% 0 2% 4%;
    width: 1287px;
    height: auto;
}
.for2date,.for3date,.for4date{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    font-weight: bold;
}
#for2content {
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 1.3rem;
    font-weight:bold;
}

#all5dicons{
    text-align: center;
}
#odd {
    background-color: rgb(107, 139, 235);
}

#even{
    background-color: royalblue;
    color: honeydew;

    /* background-color: lightgreen; */
}

#Next3daysHighs{
    text-align: center;
    padding: 6% 0 2% 0;
    font-size: 2rem;
    font-weight: 800;
}
/* CSS for mobile screens */
@media only screen and (max-width: 768px) and (min-width: 0px) {
    * {
        font-size: 19px;
    }

    .formData {
        padding: 29% 14% 0 14%;
        text-align: center;
    }

    #cityName {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        background-color: transparent;
        width: 60%;
        margin: 15% 0 0 0;
    }

    #cityName::placeholder {
        color: #191919;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

    input[type='text'] {
        font-size: 18px;
    }

    #beforeBasic {
        display: flex;
        justify-content: center;
    }

    #basic {
        margin: 5%;
        height: 200px;
        padding: 1.5%;
    }

    .div1,
    .div2 {
        border-radius: unset;
    }

    #details #beforeBasic .heading{
        font-size: 1.5rem;
        padding: 1.5% 0;
    }
    #Next3daysHighs{
        font-size: 1.6rem;
        font-weight: 600;
    }
    .for2date,.for3date,.for4date{
        font-size: 1.1rem;
    }
    #for2content {
        font-size: 1rem;
    }
    

    #for2 #odd #for2content p ,#for2 #even #for2content p, 
    #for3 #odd #for2content p ,#for3 #even #for2content p, 
    #for4 #odd #for2content p ,#for4 #even #for2content p{
        font-size: 16px;
    }

    #for2,#for3,#for4{
        width: 1087px;
        padding-left: 8.5%;
        
    }
}

.vl {
    border-left: 6px solid green;
    height: 50px;
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #basic {

        margin: 3%;
        height: 180px;
        padding: 2%;

    }

    #beforeBasic {
        display: flex;
        justify-content: center;
    }

    .div1,
    .div2 {
        border-radius: unset;
    }
    
}